@font-face {
    font-family: Inter;
    src: url(fonts/InterDisplay-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
div,
span,
p,
a,
img,
ul,
ol,
li,
table,
th,
tr,
td,
legend,
dl,
dt,
dd,
blockquote,
applet,
object {
    border: 0;
}

body {
    padding: 0;
    /*   background: #fff url(img/bg.jpg) repeat-x;
 */
    font:
        1.5rem "Inter",
        Regular,
        sans-serif;
    color: #000;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* obecne odkazy --------------------------------------------------------------- */
a {
    color: #734105;
}

a:link {
    color: #734105;
}

a:hover {
    color: #a6600c;
}

/* nadpisy --------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0 10px 0;
}

h1 {
    font-size: 200%;
}

h2 {
    font-family: "Inter", Regular, sans-serif;
    text-decoration: underline solid rgba(70, 26, 3, 255) 5px;
    font-size: 2rem;
    color: #734105;
    font-weight: normal;
    margin: 0;
    padding: 10px 26px;
}

/* layout ---------------------------------------------------------------------- */
/* #layout {
  flex: 1;
  width: fit-content;
  margin: 0 auto;
  text-align: left;
} */

/* hlavicka ------------------------------------------------------------------ */

/* horizontalni navigace --------------------------------------------------- */
#nav ul {
    padding: 0;
    list-style: none;
}

#nav ul li {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

#nav ul li a {
    display: block;
    padding: 15px 15px;
    text-align: center;
    color: rgba(244, 190, 39, 255);
    text-decoration: none;
    align-content: center;
    font-weight: bolder;
}

#nav ul li a.nosep {
    background: none;
}

#nav ul li a:hover {
    text-decoration: underline;
}

#nav ul li#active a {
    font-weight: bold;
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    float: left;
    padding: 40px 0 0 0;
    width: 510px;
    overflow: hidden;
    z-index: 10;
}

#new-article {
    background: #f3f3f3 url(img/new.jpg) no-repeat;
}

#new-article #corner {
    padding: 0 0 20px 0;
    background: url(img/corner.jpg) no-repeat right bottom;
}

#new-article p {
    color: #4e4506;
    font-size: 1rem;
    text-align: justify;
    padding: 0;
    margin: 5px 10px;
    width: 310px;
    position: relative;
    left: 20px;
}

#new-article .article-img div {
    width: 136px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10px;
    background: url(img/new-img.gif) no-repeat;
}

a.more {
    width: 59px;
    height: 20px;
    background: #ee8100 url(img/more.jpg) no-repeat;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 85%;
    display: block;
    float: right;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
}

a.more:hover {
    color: #ffddb4;
}

.article p {
    color: #4e4506;
    font-size: 85%;
    text-align: justify;
    padding: 0;
    margin: 5px 10px;
    width: 310px;
    position: relative;
    left: 20px;
}

.article .article-img {
    width: 136px;
    height: 115px;
    position: relative;
    left: 20px;
    margin: 0;
}

.article .article-img div {
    width: 136px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10px;
    background: url(img/art-img.gif) no-repeat;
}

/* Sloupce ----------------------------------------------------------------- */
#panel-right {
    width: 235px;
}

.panel .in {
    background: green;
    padding: 10px 10px 10px 30px;
}

.title {
    text-transform: uppercase;
    font-family: "Inter", Regular, sans-serif;
    text-decoration: underline solid #fff 5px;
    font-size: 2rem;
    color: black;
    font-weight: normal;
}

.panel ul li::marker {
    content: url(img/adobe-pdf.svg);
    padding: 0 5px 0;
    margin: 5px 0 15px 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
}

.panel ul li a:hover {
    color: #545454;
}

.menu-item {
    display: flex;
    background: rgba(70, 26, 3, 255);
    box-sizing: border-box;
    width: 100px;
    height: auto;
    padding: 2px;
    border-radius: 5px;
}

strong,
.strong {
    font-weight: bold;
}

.box {
    min-height: 1px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.img-slider {
    position: relative;
    width: 500px;
    height: 300px;
    background: #1d212b;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    opacity: 0;
    transition: 2s opacity;
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    opacity: 1;
    transition: 2s;
    transition-property: opacity;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2 {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 100px;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .bt-n {
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .bt-n.active {
    background: #2696e9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
    .img-slider {
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info {
        padding: 10px 25px;
    }

    .img-slider .slide .info h2 {
        font-size: 35px;
    }

    .img-slider .slide .info p {
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation {
        bottom: 25px;
    }

    .img-slider .navigation .bt-n {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px) {
    .img-slider {
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info {
        padding: 10px 20px;
    }

    .img-slider .slide .info h2 {
        font-size: 30px;
    }

    .img-slider .slide .info p {
        width: 80%;
        font-size: 1rem;
    }

    .img-slider .navigation {
        bottom: 15px;
    }

    .img-slider .navigation .bt-n {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px) {
    .img-slider {
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info {
        padding: 5px 10px;
    }

    .img-slider .slide .info h2 {
        font-size: 25px;
    }

    .img-slider .slide .info p {
        width: 90%;
        font-size: 1rem;
    }

    .img-slider .navigation {
        bottom: 10px;
    }
}

.media {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.videos {
    position: relative;
    margin: 45px 0 0 40px;
    padding: 0;
}

.site-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-bottom: 2rem;
}

marquee {
    background: green;
    margin-top: 10px;
    padding: 20px 0;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
}

ul li a {
    text-decoration: none;
}

.panel .in ul li a {
    color: darkblue;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: bolder;
}

#marquee {
    padding: 0 1rem;
}

#container {
    padding: 0 1rem;
}

#header p {
    margin-bottom: 0;
    margin-top: 0;
}

.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*   max-width: 1280px;
 */
    width: 100%;
    background: #10182f;
    /*   border-radius: 6px;
 */
    margin-top: auto;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: green;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline solid #bfbfbf;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489c6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
}

.footer-col .icons i:hover {
    color: #fff;
}

.header,
.footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}

.footer-row {
    font-size: 1rem;
}

#copyright {
    margin: 2rem;
    text-align: center;
    color: #bfbfbf;
}

/* Contact us*/
    .kontainer {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin: 0 16px;
    }

    .column {
      flex: 1;
      min-width: 300px;
    }

    #map {
      width: 100%;
      height: 30vh;
      margin: 20px 0;

    }

    .contacts {
      background-color: grey;
      height: 30vh;
      margin: 20px 0;
      padding: 1rem 0;
    }

    .contacts h2 {
      text-decoration: underline;
      font-size: 2rem;
      font-weight: bolder;
    }

    .contacts p,h2 {
      text-align: center;
    }
    .contacts p{
      font-size: 2vh;
      font-weight: bold;
    }

/* for desktop and tablet*/
@media screen and (min-width: 768px){
    #container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 1rem;
    }

    .media {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    #header {
        display: flex;
        margin: 0;
        padding: 1rem;
        background: green;
    }

    #brand-name {
        font-family: "Inter", Regular, sans-serif;
        font-size: 3rem;
        font-weight: bold;
    }

    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
        margin-top: 2rem;
    }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px){
      #container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #corner h2{
      font-size: 1.5rem;
    }

    #copyright {
        font-size: 1rem;
    }

    .media {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #bottom {
        padding-top: 1rem;
    }

    #header {
        display: flex;
        background: green;
        padding: 1rem;
        margin: 0;
    }

    #brand-name {
        font-family: "Inter", Regular, sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        text-align: left;
    }

    #logo-icon img {
        width: 50px;
        height: 50px;
    }

    .content {
        float: left;
        padding: 40px 0 0 0;
        width: 380px;
        overflow: hidden;
        z-index: 10;
    }

    a.more {
        margin: 10px 10px 0 0;
    }

    #panel-right {
        width: auto;
    }

    .img-slider {
        width: auto;
        height: 250px;
    }

    .videos {
        position: relative;
        margin: 0;
        padding: 2rem 0;
    }

    .videos iframe {
        width: 380px;
    }
}

/* ABOUT  US*/
    .about-section {
      padding: 50px;
      background: grey;
      text-align: center;
      margin: 16px;
    }
    
    .slogan-content{
      text-align: center;
    }

    .about-section h1 {
      font-size: 10vw;
      font-weight: 600;
      color: #734105;
    }

    .subheading {
      margin-top: 20px;
    }

    .subheading h3 {
      display: inline-block;
      padding: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .kontent {
      text-align: justify;
      max-width: 800px;
      margin: 0 auto;
    }
    
    .bold-line {
      border-top: 2px solid #734105; /* Adjust the thickness as needed */
    }